/*Bootstrap colors*/
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #337ab7;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}


/*
spsComps CSS Styles
*/


/*for clearableTextInput component*/
.text-input-clearable {
  width: 100%;
  border:1px solid #ccc;
  border-radius: 3px;
  padding:1px 6px 1px 1px;
  display:inline-block;
}

.text-input-clearable input {
  width: 93%;
  border:none;
  background:none;
  outline:none;
  padding:0 0;
  margin:0 0;
  font:inherit;
}

.text-input-clearable span {
  float: right;
  height: 14px;
  font-size: 14px;
  cursor: pointer;
  color: #ccc;
  visibility:hidden;
}

.text-input-focused {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 1);
}

/* sps gallery */
.sps-gallery a:hover{
  text-decoration: none;
}

.sps-gallery div[class^="col-sm-"] {
  transition:500ms linear;
}

.sps-gallery div.sps-tab-link {
  cursor: pointer;
}

.img-gallery{
  max-width:100%;
  height:auto;
  object-fit: cover;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-gallery:not(.gallery-nohover):hover {
  opacity: 0.7;
  transition: opacity 0.5s;
}

.gallery-enlarge {
  width: 100% !important;
  transition:500ms linear;
}

.gallery-modal {
  display: none;
  position: fixed;
  z-index: 1100;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  transition: opacity 250ms linear;
  opacity: 0;
}

.gallery-modal.modal-in{
  transition: opacity 500ms linear;
  opacity: 1;
}

.gallery-modal-content {
  margin: auto;
  display: block;
  width: auto;
  max-width: 80%;
}

#sps-gallery-modal .gallery-caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: white;
  padding: 10px 0;
  font-size: 3.5rem;
  font-weight: 800;
  height: 150px;
}


.gallery-modal-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.gallery-modal-close:hover,
.gallery-modal-close:focus {
  color: #828282;
  text-decoration: none;
  cursor: pointer;
}



/*for sps hyperlink button  and tables*/
.href-button {
  background-color: var(--primary);
  border: none;
  border-radius: 10px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
         }

.href-button:not(.nohover):hover {
  opacity: 0.9;
  text-decoration: none;
  color: white;
  transition: opacity 0.5s;
}

.href-button.nohover {
    text-decoration: none;
    cursor: default;
}

.href-button:not(.nohover):active {
  transform: translateY(2px);
}

.table-href td:first-child{
  width: 1px;
  vertical-align: middle;
  white-space: nowrap;
}


/* sps description container*/
.desc-body.collapse {
  display: block;
  height: 150px;
  overflow: hidden;
}
.desc-body.in {
  height: auto;
}
.desc a.collapsed:after  {
    content: '+ Show More Description';
}
.desc > a:not(.collapsed):after {
    content: '- Collapse Description';
}

.desc a:not(.desc-body):link {
  text-decoration: none;
}


.desc hr {
    border-top: 1px solid #3c8dbc;
}

/* sps description link*/
.desc  a {
  margin: 0 var(--spacing, 0px);
  font-size: var(--a_size, 1em);
  -webkit-transition: margin 0.25s;
  transition: margin 0.25s;
  -webkit-transition: font-size 0.25s;
  transition: font-size 0.25s;
}

.desc  a:hover {
  --spacing: 4px;
  --a_size: 1.5em;
}

/* sps control-panel*/
.control-panel {
    opacity: 0.7;
    transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.control-panel:hover { opacity: 1;}


/* sps hexagon icon and hex panel*/
.hex-container {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.hex {
  opacity: 0.8;
}

.hex:hover {
  opacity: 1;
}

.powerby-link {
  font: italic bold 25px serif;
  fill: var(--primary);
  opacity: 0.5;
}

.powerby-link:not(.nohover):hover {
  opacity: 1;
}

.powerby-link.nohover {
  opacity: 1;
}

.hex-box {
  width: 3vw;
  min-width: 50px;
  display: inline-block;
  padding-top: 0;
}

.hex-container span {
 display: inline-block;
 text-align: center;
 font-size: 0.6vw;
}

.hex-panel {
  position: auto;
}
.hex-panel > .hex-item {
  display: inline-block;
  text-align: left;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right:0;
}

.hex-panel h5 {
  display: inline-block;
  margin-left: 20px;
  font-weight: 900;
  font-size: 1em;
  transform: translateY(-2.2vw);
}


/* timeline */
.sps-timeline {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.sps-timestamp {
  margin-bottom: 20px;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
}

.sps-timeline .timeline-i {
  width: 30px;
  height: 30px;
  padding: 7px;
  background-color: #D6DCE0;
  border-radius: 25px;
  display: inline;
  justify-content: center;
  position: relative;
  transition: all 200ms ease-in;
  left: 40%;
  z-index: 98;
}
.sps-timeline .timeline-i i {
  position: relative;
  z-index: 99;
  top: 25%;
  color: white;
}
.sps-timeline .status {
  padding: 0px 40px;
  display: flex;
  justify-content: center;
  border-top: 5px solid #D6DCE0;
  top: -10px;
  position: relative;
  transition: all 200ms ease-in;
}
.sps-timeline .status h4 {
  font-weight: 600;
}

.sps-timeline .li.complete .timeline-i {
  background-color: #5cb85c;
}
.sps-timeline .li.complete .status {
  border-top: 5px solid #5cb85c;
  top: -10px;
}
.sps-timeline .li.complete .status:before {
  background-color: #5cb85c;
  border: none;
  transition: all 200ms ease-in;
}
.sps-timeline .li.complete .status h4 {
  color: #5cb85c;
}

.sps-timeline::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #fff;
}

.sps-timeline::-webkit-scrollbar
{
  width: auto;
  background-color: #fff;
  height: 8px;
}

.sps-timeline::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #c9c9c9;
}

/*go top button*/
.sps-gotop {
  background-color: #fff;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  display: none;
  text-align: center;
  cursor: pointer;
  right: 1rem;
  bottom: 10rem;
  width: 3rem;
  height: 3rem;
  border-radius: 0.25rem;
  line-height: 2.5rem;
  z-index: 99;
  fill: #337ab7;
  opacity: 0.7;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}

.sps-gotop:hover {
    opacity: 1;
}


/*progress panel*/
.sps-pg-panel {
  position: fixed;
  z-index: 100;
}

.sps-pg-panel .timeline {
    position: relative;
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none;
}

.sps-pg-panel .timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4px;
    background: #ddd;
    left: 31px;
    margin: 0;
    border-radius: 2px;
}

.sps-pg-panel .timeline > li:before, .sps-pg-panel .timeline > li:after {
    content: " ";
    display: table;
}

.sps-pg-panel .timeline > li {
    position: relative;
    margin: -5px 10px -5px 0;
}

.sps-pg-panel .timeline > li > .timeline-item {
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    border-radius: 3px;
    margin-top: 0;
    background: #fff;
    color: #444;
    margin-left: 60px;
    margin-right: 15px;
    padding: 0;
    position: relative;
}

.sps-pg-panel .timeline > li > .timeline-item > .timeline-header {
    margin: 0;
    color: #555;
    border-bottom: 1px solid #f4f4f4;
    padding: 10px;
    font-size: 1.6rem;
    line-height: 1.1;
}

.sps-pg-panel .timeline > li > .fa {
    width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    position: absolute;
    color: #666;
    background: #d2d6de;
    border-radius: 50%;
    text-align: center;
    left: 18px;
    top: 0;
}

.bg-red {
    background-color: #dd4b39 !important;
}

.bg-olive{
    background-color: #3d9970 !important;
}

.bg-orange {
    background-color: #ff851b !important;
}

.sps-pg-panel .timeline i.fa:before, .timeline span {
  color: white;
}

.sps-pg-panel .timeline > .time-label > span {
    font-weight: 600;
    padding: 5px;
    display: inline-block;
    background-color: #fff;
    border-radius: 4px;
}
