
/*progress panel*/
.sps-pg-panel {
  position: fixed;
  z-index: 100;
}

.sps-pg-panel .timeline {
    position: relative;
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none;
}

.sps-pg-panel .timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4px;
    background: #ddd;
    left: 31px;
    margin: 0;
    border-radius: 2px;
}

.sps-pg-panel .timeline > li:before, .sps-pg-panel .timeline > li:after {
    content: " ";
    display: table;
}

.sps-pg-panel .timeline > li {
    position: relative;
    margin: -5px 10px -5px 0;
}

.sps-pg-panel .timeline > li > .timeline-item {
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: rgb(248 248 248);
    border-radius: 3px;
    margin-top: 0;
    color: #444;
    margin-left: 60px;
    margin-right: 15px;
    padding: 0;
    position: relative;
}

.sps-pg-panel .timeline > li > .timeline-item > .timeline-header {
    margin: 0;
    color: #555;
    padding: 10px;
    font-size: 1.6rem;
    line-height: 1.1;
}

.sps-pg-panel .timeline > li > .fa {
    width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    position: absolute;
    color: #666;
    background: #d2d6de;
    border-radius: 50%;
    text-align: center;
    left: 18px;
    top: 0;
}

.bg-red {
    background-color: #dd4b39 !important;
}

.bg-olive{
    background-color: #3d9970 !important;
}

.bg-orange {
    background-color: #ff851b !important;
}

.sps-pg-panel .timeline i.fa:before, .timeline span {
  color: white;
}

.sps-pg-panel .timeline > .time-label > span {
    font-weight: 600;
    padding: 3px;
    display: inline-block;
    background-color: #fff;
    border-radius: 4px;
    margin-top: -10px;
    margin-bottom: 7px;
}

/* sps control-panel*/
.control-panel {
    opacity: 0.7;
    transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   z-index: 999;
   background-color: rgb(248 248 248);
   border-radius: 10px;
}

.control-panel:hover { opacity: 1;}

.control-panel .progress {
  background-color: #eee;
}


/*button*/
.pg-panel-button {
  background: rgb(133 175 211);
  color: #fff;
  padding: 3px 8px;
  font-size: 12px;
  outline: none;
  border-color: transparent;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-width: 0;
  border-radius: 4px;
  float: right;
}




